:root {

    /* Shadow */
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --text-shadow: -1px 6px 10px rgba(0, 0, 0, 0.61);

    /* Colors */
    --white: #fff;
    --white-alternate: #e4e5fb;
    --green-minecraft: #3c8527;
    --dark-green: #23710C;
    --green-nav: #3A8026;
    --light-green-nav: #39FF00;
    --red: #A60000;

    /* Purple */
    --lightest-purple: #ced0f7;
    --very-light-purple: #b1b2f0;
    --light-purple: #b1b2f0;
    --mid-light-purple: #9691e8;
    --mid-purple: #8476de;
    --purple: #745bd0;
    --dark-purple: #644bb7;
    --darker-purple: #55429a;
    --very-dark-purple: #443976;
    --absolute-purple: #2a2145;

    /* Grey */
    --very-dark-grey: #1C1C1C;
    --dark-grey: #2D2D2D;
    --grey: #3C3C3C;
    --font-footer: #6C6C6C;

    /* Linear */
    --linear-gradient-1: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(116, 91, 208, 1) 100%);
    --linear-gradient-2: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(150, 145, 232, 1) 100%);
    --linear-gradient-3: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(60, 133, 39, 1) 100%);
}

/* #39FF00 */
/* #3A8026 */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

[data-theme="dark"] {
    --header-BG: var(--linear-gradient-1);
    --main-BG: var(--dark-grey);
    --wiki-BG: var(--linear-gradient-3);
    --switch__on-to-dark: var(--white);
    --download-color: var(--white-alternate);
    --download-BG: var(--red);
    --download-font: var(--white-alternate);
    --to-darker: var(--dark-grey);
    --button-discord: var(--dark-purple);
    --button-wiki: var(--dark-green);
    --artitcle-color: var(--very-dark-grey);
    --artitcle-box-shadow: var(--box-shadow);
}

[data-theme="light"] {
    --header-BG: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(116, 91, 208, 1) 100%);
    --main-BG: var(--white-alternate);
    --wiki-BG: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(60, 133, 39, 1) 100%);
    --switch__on-to-dark: #1E1E1E;
    --switch__on-to-white: var(--white);
    --download-color: #D90000;
    --download-font: #D90000;
    --download-BG: var(--white-alternate);
    --to-darker: var(--very-dark-grey);
    --button-discord: var(--mid-purple);
    --button-wiki: url(../images/Snow_BG.jpg);
    --artitcle-color: var(--mid-purple); 
    --artitcle-box-shadow: rgba(132, 118, 222, 1) 0px 5px 15px;
}

.main__news h1 {
    text-align: center;
    color: var(--switch__on-to-dark);
    font-size: 55px;
    text-decoration: underline 2px;
    text-underline-offset: 12px;
    text-shadow: var(--text-shadow);
    transition: 0.3s;

    &:hover {
        text-shadow: -5px 10px 15px rgba(0, 0, 0, 1);
    }
}

.main__news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main__news h2 {
    text-align: center;
    color: var(--switch__on-to-dark);
    font-size: 55px;
    text-decoration: underline 2px;
    text-underline-offset: 12px;
    text-shadow: var(--text-shadow);
    transition: 0.3s;

    &:hover {
        text-shadow: -5px 10px 15px rgba(0, 0, 0, 1);
    }
}

.news__article__zoom {
    height: 450px;
    width: 350px;
    background-color: var(--artitcle-color);
    box-shadow: var(--artitcle-box-shadow);
    padding: 20px;
    margin: 50px 0;
    transition: 0.3s;

  
    @media screen and (min-width: 900px) {
      margin: 35px 25px;
      height: 650px;
      width: 1200px;
    }
  }
  
  .article__title__container__zoom {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .art-circle__zoom {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: var(--red);
    margin-right: 20px;
    box-shadow: var(--box-shadow);
    transition: 0.5s;
  
    &:hover {
      filter: brightness(35%);
    }
  
    @media screen and (min-width: 900px) {
      height: 150px;
      width: 150px;
    }
  }
  
  .news__article__zoom h3 {
    color: var(--white-alternate);
    font-size: 35px;
    text-decoration: underline 1.5px;
    text-underline-offset: 5px;
  
    @media screen and (min-width: 900px) {
        font-size: 65px;
    }
  }
  
  .news__article__zoom p {
    color: var(--white-alternate);
    font-size: 20px;
    
      @media screen and (min-width: 900px) {
        font-size: 40px;
    }
  }

.article__zoom {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.394);
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 52px;
    height: 52px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 52px;
    width: 4px;
    background-color: #b6b6b6;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}