@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


.capitalize {
    text-transform: capitalise;
}

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

.display {
    display: none;
}

.burgerMenuOpen {
    width: 40px;
    height: 2px;
    background-color: #fff;

}

.containBurgerMenuOpen {
    width: 70px;
    background-color: #1E1E1E;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    border: 1px white solid;
    border-left: 0px;
}


.header {
    width: 100%;
    background-image: linear-gradient(270deg,hsl(253deg 55% 59%) 0%,hsl(0deg 0% 0%) 100%
      );/*BG linear 1*/
}


.nav-bar {
    width: 100%;
    display: none;
}

.testt {
    width: 60px;
}

.containLogoNav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.wrapperPartHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.on {
    color: white;   /*font white*/
    text-transform: uppercase;
    font-size: 14px;
}

.off {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
}

.rondOff {
    height: 13px;
    width: 13px;
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    border-radius: 50%;
}

.rondOn {
    height: 13px;
    width: 13px;
    background-color: white;   /*font white*/
    border-radius: 50%;
}

.buttonOn {
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    border-radius: 25px;
    width: 60px;
    margin-right: 15px;
    border: 2px black solid;

}

.buttonOff {
    height: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    width: 60px;
    margin-right: 15px;
    border: 2px black solid;
}

.liDowload {
    border: 2px red solid;
    height: 10px;
    border-radius: 10px;
}

#dowload {
    height: 10px;
    margin: 0 0 5px 0;
    color: red;
}


.navBurgerLi {
    list-style: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBurgerLi p {
    height: 30px;
    margin: 0;
    text-align: center;
    color: white;   /*font white*/
    font-size: 13px;
}

.navBurgerUl {
    padding: 0;
    width: 80px;
}

.horizontalTrait {
    width: 1px;
    height: 120px;
    background-color: #fff;
}

.burgerWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.wrapperConnect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 25px;
    border-radius: 13px;
    background-color: #1E1E1E;
}

.create {
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
    font-weight: 900;
}

.connect {
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: white;   /*font white*/
}

.wrapperCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgb(255, 255, 255) solid;
    width: 90px;
    height: 25px;
    border-radius: 13px;
}

.wrapperCompte {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}

.credit {
    font-size: 7px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    width: 100px;
}

.wrapperCredit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapperQuiSommeNous {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 34px;
}

.imgQuiSommeNous {
    border-radius: 15px;
    width: 340px;
    margin-top: 40px;
}

.wrapperQuiSommeN {
    display: flex;
    flex-direction: column;
}

.wrapperMain {
    background-color: #2D2D2D;/*BG dark Grey*/
    color: white;   /*font white*/
}

.pQuiSommeNous {
    font-size: 12px;
}

.quiSommeNous {
    font-size: 30px;
}

.wrapperButtonDis {
    background-color: #55429A;/*Darker Purple*/
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    height: 50px;
}

.imgLogoWiki {
    width: 160px;
    height: 160px;
}

.containWiki {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #000000, #3c8527);/*BG linear 3*/
    height: 250px;
}

.containTextWiki {
    width: 190px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textWiki {
    font-size: 9px;
}

.containButtonWiki {
    background-color: #23710C; /*button wiki*/
    width: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-shadow: -2px 4px 15px -1px rgba(0,0,0,0.9);
}

.news {
    font-size: 70px;
    font-weight: 100;
    text-decoration:underline;
}

.containNews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperContainNews {
    width: 300px;
    background-color: #1C1C1C;/*very dark grey*/
    padding: 20px;
    margin: 10px 0 35px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.titleNews {
    font-size: 50px;
    font-weight: 200;
    text-decoration: underline;
    margin: 0;
}

.containTitleNews {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.pNews {
    font-size: 20px;
}

.containANews {
    margin-top: 50px;
}

.aNews {
    color: #CED0F7;/*very light purple*/
    font-size: 25px;
}

.containMostNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;   /*font white*/
    text-decoration: none;
    margin-bottom: 50px;
}

.mostNewsP {
    font-size: 33px;
    margin: 10px 0;
}

.mostNewsI {
    font-size: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #3C3C3C;/*bg grey*/
    color: white;   /*font white*/
}

.logoFooter {
    width: 150px;
    margin-top: 80px;
}

.navFooter {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    width: 200px;
    font-weight: 500;
    font-size: 18px;
}

.containDowloadLauncherFooter {
    width: 300px;
    background-color: #745BD0;/*purple*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.creditFooter {
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #6C6C6C;
    padding: 0;
    width: 300px;
}

.copyRight {
    text-align: center;
}