<!DOCTYPE html>
<html lang='FR-fr'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tiraxis | Serveur Minecraft</title>
    <link rel="shortcut icon" href="../assets/images/logoTiraxis.png" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Web site for Tiraxis, the Server For The New Gen 😍'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/normalize.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
</head>

<body>

    <!-- #Header -->

    <header>
        <div class="header__BG">
            <div class="header__before">
                <button id="buttonMenu" class="button__wrap">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                </button>
                <div class="nav__wrapper">
                    <img src="/assets/images/logoTiraxis.png" alt="logo du serveur minecraft Tiraxis">
                    <nav class="header__before__nav nav_style">
                        <ul>
                            <li>
                                <a href="#">news</a>
                            </li>
                            <li>
                                <a href="#">faq</a>
                            </li>
                            <li>
                                <a href="#">wiki</a>
                            </li>
                            <li><button class="nav__btn_dowload">dowlaod</button></li>
                        </ul>
                    </nav>
                </div>
                <div class="btn__on btn__switch">
                    <div class="circle__on"></div>
                    <p class="on">on</p>
                </div>
            </div>
            <div class="header__after">
                <div class="header__after__wrap">
                    <nav class="header__after__nav nav_style">
                        <ul>
                            <li>
                                <a href="#">news</a>
                            </li>
                            <li>
                                <a href="#">faq</a>
                            </li>
                            <li>
                                <a href="#">wiki</a>
                            </li>
                            <li><button class="nav__btn_dowload">dowlaod</button></li>
                        </ul>
                    </nav>
                    <div class="v-line"></div>
                    <div class="header__after__accompt">
                        <button class="header__after__signup">
                            sign up
                        </button>
                        <button class="header__after__login">
                            login
                        </button>
                    </div>
                    <ul class="header__after__credits">
                        <li>
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <a href="#">Discord</a>
                        </li>
                        <li>
                            <a href="#">© Lorem ipsum dolor sit amet consecteur adipiscing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- #Header -->

    <!-- #Main -->

    <main>
        <div class="main__BG ">
            <div class="main__us">
                <div class="us__img__wrap">
                    <img src="/assets/images/pp_pro.png" alt="photo de synthèse" class="main__us__img">
                </div>
                <div class="main__us__wrap">
                    <h1>Who are we ?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non commodo
                        libero. Donec a ultrices
                        diam, at fringilla nibh. Nullam accumsan felis est, sit amet viverra orci posuere et. Cras a
                        finibus
                        ligula. Proin eget consectetur elit. Donec risus arcu, tempor a eleifend vel, dictum quis odio.
                        Donec felis augue, hendrerit vitae mauris quis, vulputate hendrerit urna. Morbi tincidunt, metus
                        non
                        fermentum imperdiet.</p>
                    <button onclick="window.location.href = 'https://discord.com/';">
                        Join us !<i class="fa-brands fa-discord"></i>
                    </button>
                </div>
            </div>
            <div class="main__wiki">
                <img src="/assets/images/Wiki_Tiraxis.png" alt="wiki logo Tiraxis" class="imgLogoWiki">
                <div class="main__wiki__wrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non commodo libero.
                        Donec a ultrices
                        diam, at fringilla nibh. Nullam accumsan felis est, sit amet viverra orci posuere et. Cras a
                        finibus
                        ligula. Proin eget consectetur elit. Donec risus arcu, tempor a eleifend vel, dictum quis odio.
                        Donec felis augue, hendrerit vitae mauris quis, vulputate hendrerit urna. Morbi tincidunt, metus
                        non
                        fermentum imperdiet.</p>
                    <button>
                        Wiki
                    </button>
                </div>
            </div>
            <div class="main__news">
                <h2>News :</h2>
                <div class="news__articles__wrap">
                    <!-- <div class="news__article">
                        <div class="article__title__container">
                            <div class="art-circle"></div><h3>Article :</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit
                            commodo,
                            tempor finibus leo porta.</p>
                        <div class="art-link">
                            <a href="#">Lien</a><a href="#" class=""></a>
                        </div>
                    </div> -->
                </div>
                <div class="news__seeAll">
                    <a href="#">See Others <span>News</span> <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </main>

    <!-- #Main -->

    <!-- #Footer -->

    <footer>
        <div class="footer__BG footer__wrapper">
            <img src="/assets/images/logoTiraxis.png" alt="logo Tiraxis" class="footer__logo">
            <ul class="footer__nav">
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Wiki</a>
                </li>
            </ul>
            <button class="footer__dowload">
                Dowload Launcher
            </button>
            <ul class="footer__credits">
                <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">Discord</a>
                </li>
                <li>
                    <a href="#">© Lorem ipsum dolor sit amet consecteur adipiscing</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- #Footer -->

    <!-- #Script -->
    <script src="https://kit.fontawesome.com/61d24657b9.js" crossorigin="anonymous"></script>
    <script src='../assets/js/data.js'></script>
    <script src='../assets/js/main.js'></script>

</body>

</html>