<!DOCTYPE html>
<html lang='FR-fr'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tiraxis | Serveur Minecraft</title>
    <link rel="shortcut icon" href="../assets/images/logoTiraxis.png" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Web site for Tiraxis, the Server For The New Gen 😍'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/normalize.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
</head>

<body>

    <!-- #Header -->

    <header class="header">
        <div class="header__BG header__wrapper">
            <div class="header__before">
                <button id="buttonMenu" class="button__wrap">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                </button>
                <div class="nav__wrapper hide">
                    <nav class="header__before__nav nav_style">
                        <ul>
                            <li>
                                <p>news</p>
                            </li>
                            <li>
                                <p>faq</p>
                            </li>
                            <li>
                                <p>wiki</p>
                            </li>
                            <li><button class="nav__btn_dowload">dowlaod</button></li>
                        </ul>
                    </nav>
                </div>
                <img src="/assets/images/logoTiraxis.png" alt="logo du serveur minecraft Tiraxis">
                <div class="btn__on btn__switch">
                    <div class="circle__on"></div>
                    <p class="on">on</p>
                </div>
            </div>
            <div class="header__after hide">
                <div class="header__after__wrap">
                    <nav class="header__after__nav nav_style">
                        <ul>
                            <li>
                                <p>news</p>
                            </li>
                            <li>
                                <p>faq</p>
                            </li>
                            <li>
                                <p>wiki</p>
                            </li>
                            <li><button class="nav__btn_dowload">dowlaod</button></li>
                        </ul>
                    </nav>
                    <div class="v-line"></div>
                    <div class="header__after__accompt">
                        <button class="header__after__signup">
                            <p class="signup">sign up</p>
                        </button>
                        <button class="header__after__login">
                            <p class="login">login</p>
                        </button>
                    </div>
                    <div class="header__after__credits">
                        <p>news</p>
                        <p>news</p>
                        <p>© Lorem ipsum dolor sit amet consecteur adipiscing</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- #Header -->

    <!-- #Main -->

    <!-- <main class="wrapperMain">
        <div class="wrapperQuiSommeNous">
            <img src="/assets/images/pp_pro.png" alt="photo de synthèse" class="imgQuiSommeNous">
            <div class="wrapperQuiSommeN">
                <h1>qui sommes nous ?</h1>
                <p class="pQuiSommeNous">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non commodo libero. Donec a ultrices
                    diam, at fringilla nibh. Nullam accumsan felis est, sit amet viverra orci posuere et. Cras a finibus
                    ligula. Proin eget consectetur elit. Donec risus arcu, tempor a eleifend vel, dictum quis odio.
                    Donec felis augue, hendrerit vitae mauris quis, vulputate hendrerit urna. Morbi tincidunt, metus non
                    fermentum imperdiet.</p>
                <div>
                    <h2>des questions ?</h2>
                </div>
            </div>
        </div>
        <div>
            <img src="/assets/images/Wiki_Tiraxis.png" alt="wiki logo Tiraxis">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non commodo libero. Donec a ultrices
                    diam, at fringilla nibh. Nullam accumsan felis est, sit amet viverra orci posuere et. Cras a finibus
                    ligula. Proin eget consectetur elit. Donec risus arcu, tempor a eleifend vel, dictum quis odio.
                    Donec felis augue, hendrerit vitae mauris quis, vulputate hendrerit urna. Morbi tincidunt, metus non
                    fermentum imperdiet.</p>
                <div>
                    <h2>wiki</h2>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
        </div>
    </main> -->

    <!-- #Main -->

    <!-- #Footer -->

    <footer>
        <article></article>
    </footer>

    <!-- #Footer -->

    <!-- #Script -->
    <script src="https://kit.fontawesome.com/61d24657b9.js" crossorigin="anonymous"></script>
    <script src='../assets/js/main.js'></script>

</body>

</html>