<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="site pour le serveur minecraft Tiraxis">
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/normalize.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/style.css'>
</head>

<body>
    <header class="header">
        <div class="wrapperPartHeader">
            <div class="containBurgerMenuOpen">
                <div class="burgerMenuOpen"></div>
                <div class="burgerMenuOpen"></div>
                <div class="burgerMenuOpen"></div>
            </div>
            <div class="containLogoNav">

                <img src="/assets/images/logoTiraxis.png" alt="logo du serveur minecraft Tiraxis" class="testt">
                <nav class="nav-bar display">
                    <ul>
                        <li>
                            <p>news</p>
                        </li>
                        <li>
                            <p class="uppercase">faq</p>
                        </li>
                        <li>
                            <p>wiki</p>
                        </li>
                        <li>
                            <p>dowload</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="display">
                <div class="wrapperCreate">
                    <p class="create">créer un compte</p>
                </div>
                <div class="wrapperConnect">
                    <p class="connect">se connecter</p>
                </div>
            </div>
            <div class="buttonOn">
                <div class="rondOn"></div>
                <p class="on uppercase">on</p>
            </div>
        </div>
        <div class="display burWrapper">
            <nav>
                <ul class="navBurgerUl">
                    <li class="navBurgerLi">
                        <p>news</p>
                    </li>
                    <li class="navBurgerLi">
                        <p class="uppercase">faq</p>
                    </li>
                    <li class="navBurgerLi">
                        <p>wiki</p>
                    </li>
                    <li class="navBurgerLi liDowload">
                        <p id="dowload">dowload</p>
                    </li>
                </ul>
            </nav>
            <div class="horizontalTrait"></div>
            <div class="wrapperCompte">
                <div class="wrapperCreate">
                    <p class="create">créer un compte</p>
                </div>
                <div class="wrapperConnect">
                    <p class="connect">se connecter</p>
                </div>
            </div>
            <div class="wrapperCredit">
                <p class="credit">news</p>
                <p class="credit">news</p>
                <p class="credit">© Lorem ipsum dolor sit amet consecteur adipiscing</p>
            </div>
        </div>
    </header>
    <main class="wrapperMain">
        <div class="wrapperQuiSommeNous">
            <img src="/assets/images/pp_pro.png" alt="photo de synthèse" class="imgQuiSommeNous">
            <div class="wrapperQuiSommeN">
                <h1 class="quiSommeNous">Qui sommes nous ?</h1>
                <p class="pQuiSommeNous">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non commodo
                    libero. Donec a ultrices
                    diam, at fringilla nibh. Nullam accumsan felis est, sit amet viverra orci posuere et. Cras a finibus
                    ligula. Proin eget consectetur elit. Donec risus arcu, tempor a eleifend vel, dictum quis odio.
                    Donec felis augue, hendrerit vitae mauris quis, vulputate hendrerit urna. Morbi tincidunt, metus non
                    fermentum imperdiet.</p>
                <div class="wrapperButtonDis">
                     <p>Rejoins Nous !</p><i class="fa-brands fa-discord"></i>
                </div>
            </div>
        </div>
        <div class="containWiki">
            <img src="/assets/images/Wiki_Tiraxis.png" alt="wiki logo Tiraxis" class="imgLogoWiki">
            <div class="containTextWiki">
                <p class="textWiki">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non commodo libero. Donec a ultrices
                    diam, at fringilla nibh. Nullam accumsan felis est, sit amet viverra orci posuere et. Cras a finibus
                    ligula. Proin eget consectetur elit. Donec risus arcu, tempor a eleifend vel, dictum quis odio.
                    Donec felis augue, hendrerit vitae mauris quis, vulputate hendrerit urna. Morbi tincidunt, metus non
                    fermentum imperdiet.</p>
                <div class="containButtonWiki">
                    <h2>wiki</h2>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
            <div>
                <h3>Article</h3>
                <img src="assets/images/update.png" alt="photo de synthèse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula ante in velit commodo,
                    tempor finibus leo porta. Proin congue vel risus eget laoreet. Ut sagittis magna id urna posuere, et
                    egestas augue accumsan. Cras suscipit vestibulum est, blandit aliquam arcu accumsan condimentum.
                    Mauris rhoncus.</p>
            </div>
        </div>
    </main>
</body>
<script src="/assets/js/main.js"></script>
<script src="https://kit.fontawesome.com/882a8425ef.js" crossorigin="anonymous"></script>
</html>